h1{
    font-weight: 700 !important;
}

p{
    font-size: 20px;
}

.light {
  font-weight: 300 !important;
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.text-green{
    color: #3ECF8E !important;
}

html{
    width: 100%;
    height: 100vh;
}

body{
    font-family: 'Montserrat', sans-serif !important;
    background-color: #161717 !important;
    height: 100vh;
    width: 100%;
    color: #fff !important;
}


.warning-top{
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(
        to bottom,
        rgba(62, 207, 142, 1) 0%,
        rgba(50, 168, 115, 0.62) 50%,
        rgba(31, 105, 72, 0) 100%
    );
    width: 96%;
}

#particles-js {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      left: 0;
      top: 0
    }

.logo{
    width: 13rem;
}

.progress{
    background-color: transparent !important;
    border-radius: 20px !important;
    border: #3ECF8E 3px solid !important;
    height: 3rem !important;
}

.progress-bar{
    height: 2.7rem;
    border-radius: 15px;
    background-color: #3ECF8E !important;
    box-shadow: 10px 0px 17.4px rgba(62, 207, 142, 0.5);
}

.progress-bar.animate-progress {
    animation: fillProgressJS 2s ease-out forwards;
}

.progress i{
    font-size: 1.5rem;

}

.mac-iphone-text{
    width: 50% !important;
}

.mac-iphone-img{
    width: 25rem;
}

.functionality-text{
    width: 55% !important;
}

.functionality-text img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes fillProgressJS {
    from {
        width: 0;
    }
    to {
        width: var(--target-width);
    }
}

.nav.nav-pills .nav-link.green{
    border-radius: 30px;
    border:#3ECF8E 3px solid;
    color: #3ECF8E;
    transition: all 0.3s;
}

.nav.nav-pills .nav-link.white{
    border-radius: 30px;
    border:#fff 3px solid;
    color: #fff;
    transition: all 0.3s;
}

.nav.nav-pills .nav-link.green.active{
    border-radius: 30px;
    background-color:#3ECF8E;
    color: #fff;
}

.nav.nav-pills .nav-link.white.active{
    border-radius: 30px;
    background-color:#fff;
    color: #3ECF8E;
}


.nav.nav-pills .nav-link.green:hover{
    background-color: #3ECF8E;
    color: #fff;
}

.nav.nav-pills .nav-link.white:hover{
    background-color: #fff;
    color: #3ECF8E;
}

/* mobile */
@media screen and (max-width: 767px) {
    .logo{
        width: 6rem;
    }

    .mac-iphone-text{
        width: 100% !important;
    }

    .mac-iphone-img{
        width: 15rem;
    }

    .functionality-text{
        width: 90% !important;
    }
}

@media screen and (max-width: 665px) {
    .nav.nav-pills .nav-link{
        border-radius: 30px !important;
        border:#3ECF8E 3px solid !important;
        color: #3ECF8E !important;
        transition: all 0.3s !important;
    }

    .nav.nav-pills .nav-link.active{
        border-radius: 30px !important;
        background-color:#3ECF8E !important;
        color: #fff !important;
    }

    .nav.nav-pills .nav-link:hover{
        background-color: #3ECF8E !important;
        color: #fff !important;
    }

}